In [7]:
import pandas as pd
df = pd.read_csv("demo1.csv")
df

        day  event  temperature  windspeed
0  1/1/2023   Rain           32          6
1  1/2/2023  Sunny           34          7
2  1/3/2023   Snow           45          8
3  1/4/2023   Snow           35          4
4  1/5/2023   Rain           29          5
5  1/6/2023  Sunny           28          7

In [9]:
rows, columns = df.shape

In [11]:
rows

6

In [12]:
df.head()

        day  event  temperature  windspeed
0  1/1/2023   Rain           32          6
1  1/2/2023  Sunny           34          7
2  1/3/2023   Snow           45          8
3  1/4/2023   Snow           35          4
4  1/5/2023   Rain           29          5

In [13]:
df.tail()

        day  event  temperature  windspeed
1  1/2/2023  Sunny           34          7
2  1/3/2023   Snow           45          8
3  1/4/2023   Snow           35          4
4  1/5/2023   Rain           29          5
5  1/6/2023  Sunny           28          7

In [15]:
df.head(2)

        day  event  temperature  windspeed
0  1/1/2023   Rain           32          6
1  1/2/2023  Sunny           34          7

In [16]:
df[2:5]

        day event  temperature  windspeed
2  1/3/2023  Snow           45          8
3  1/4/2023  Snow           35          4
4  1/5/2023  Rain           29          5

In [17]:
df[:]

        day  event  temperature  windspeed
0  1/1/2023   Rain           32          6
1  1/2/2023  Sunny           34          7
2  1/3/2023   Snow           45          8
3  1/4/2023   Snow           35          4
4  1/5/2023   Rain           29          5
5  1/6/2023  Sunny           28          7

In [18]:
df.columns

Index(['day', 'event', 'temperature', 'windspeed'], dtype='object')

In [20]:
df.day

0    1/1/2023
1    1/2/2023
2    1/3/2023
3    1/4/2023
4    1/5/2023
5    1/6/2023
Name: day, dtype: object

In [21]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [22]:
type(df['event'])

pandas.core.series.Series

In [23]:
df[['event', 'day']]

   event       day
0   Rain  1/1/2023
1  Sunny  1/2/2023
2   Snow  1/3/2023
3   Snow  1/4/2023
4   Rain  1/5/2023
5  Sunny  1/6/2023

In [24]:
df['temperature'].max()

45

In [25]:
df['temperature'].mean()   # average

33.833333333333336

In [26]:
df['temperature'].std()  # standard deviation

6.112828041640519

In [28]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     33.833333   6.166667
std       6.112828   1.471960
min      28.000000   4.000000
25%      29.750000   5.250000
50%      33.000000   6.500000
75%      34.750000   7.000000
max      45.000000   8.000000

In [29]:
df[df.temperature>=32]

        day  event  temperature  windspeed
0  1/1/2023   Rain           32          6
1  1/2/2023  Sunny           34          7
2  1/3/2023   Snow           45          8
3  1/4/2023   Snow           35          4

In [30]:
df[df.temperature==df['temperature'].max()]

        day event  temperature  windspeed
2  1/3/2023  Snow           45          8

In [31]:
df['day'][df.temperature==df['temperature'].max()]

2    1/3/2023
Name: day, dtype: object

In [33]:
df[['day', 'temperature']][df.temperature==df['temperature'].max()]

        day  temperature
2  1/3/2023           45

In [34]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [38]:
ndf = df.set_index('day')  # it is not modified the original one
ndf

          event  temperature  windspeed
day
1/1/2023   Rain           32          6
1/2/2023  Sunny           34          7
1/3/2023   Snow           45          8
1/4/2023   Snow           35          4
1/5/2023   Rain           29          5
1/6/2023  Sunny           28          7

In [41]:
df.set_index('day', inplace=True)  #in this method the original file is modified

KeyError: "None of ['day'] are in the columns"

In [42]:
df

          event  temperature  windspeed
day
1/1/2023   Rain           32          6
1/2/2023  Sunny           34          7
1/3/2023   Snow           45          8
1/4/2023   Snow           35          4
1/5/2023   Rain           29          5
1/6/2023  Sunny           28          7

In [43]:
df.loc['1/1/2023']

event          Rain
temperature      32
windspeed         6
Name: 1/1/2023, dtype: object

In [44]:
df.reset_index(inplace=True)

In [45]:
df

        day  event  temperature  windspeed
0  1/1/2023   Rain           32          6
1  1/2/2023  Sunny           34          7
2  1/3/2023   Snow           45          8
3  1/4/2023   Snow           35          4
4  1/5/2023   Rain           29          5
5  1/6/2023  Sunny           28          7

In [46]:
df.set_index('event', inplace=True)
df

            day  temperature  windspeed
event
Rain   1/1/2023           32          6
Sunny  1/2/2023           34          7
Snow   1/3/2023           45          8
Snow   1/4/2023           35          4
Rain   1/5/2023           29          5
Sunny  1/6/2023           28          7