In [52]:
import pandas as pd

In [54]:
people = [
    ["Burhan", 25, "Kushtia"],
    ["Pitbull", 1, "Habiganj"],
    ["Ruhul", 32, "Barishal"],
    ["Ashik", 24, "Rajshahi"]
     
]

In [56]:
people

[['Burhan', 25, 'Kushtia'],
 ['Pitbull', 1, 'Habiganj'],
 ['Ruhul', 32, 'Barishal'],
 ['Ashik', 24, 'Rajshahi']]

In [58]:
df = pd.DataFrame(people, columns=["Name","Age","City"])

In [60]:
df

      Name  Age      City
0   Burhan   25   Kushtia
1  Pitbull    1  Habiganj
2    Ruhul   32  Barishal
3    Ashik   24  Rajshahi

In [62]:
person = {
    "Name":["Burhan", "Pitbull", "Ruhul"],
    "Age": [25, 32, 1],
    "City": ["Kushtia", "Sheikhcity", "Barishal"]
}

In [64]:
df = pd.DataFrame(person)

In [66]:
df

      Name  Age        City
0   Burhan   25     Kushtia
1  Pitbull   32  Sheikhcity
2    Ruhul    1    Barishal

In [68]:
df.drop(['City'], axis=1)

      Name  Age
0   Burhan   25
1  Pitbull   32
2    Ruhul    1

In [92]:
df.drop(['City'], axis='columns')

KeyError: "['City'] not found in axis"

In [78]:
df.drop(["City"], axis = 1, inplace=True)

KeyError: "['City'] not found in axis"

In [80]:
df

      Name  Age
0   Burhan   25
1  Pitbull   32
2    Ruhul    1

In [96]:
df.drop([0])

      Name  Age
1  Pitbull   32
2    Ruhul    1

In [101]:
df.drop([0])

      Name  Age
1  Pitbull   32
2    Ruhul    1